/*Classes*/
body {

}

.alt1 {
	background: #898989;
	min-height: 400px;
}

p {
	color: black;
}

ul {
	color: black;
}

#all{
	background-color: #898989;

}
/*End of classes*/


/*Header things*/
#pagehead {
	padding-left: 0;
	background-color: #898989;
	margin-bottom: auto;
	text-align: center;
}

#pagetitle {
	color: black;
	padding: 5px;
	border: solid #FF6A00;
	border-radius: 5px;
	display: inline-block;
	background-color: #FF6A00;
}

#small {
	color: black;
}

#contact {
	background-color: #FF6A00;
	padding: 3px;
}

#what2 {
	background-color: #FF6A00;
	padding: 3px;
}

#do {
	background-color: #00B7B7;
	padding: 5px;
}

#what3 {
	background-color: #FF6A00;
	padding: 3px;
}

#question {
	background-color: #FF6A00;
	padding: 3px;
}

#about {
	background-color: #FF6A00;
	padding: 3px;
}

#require {
	background-color: #FF6A00;
	padding: 3px;
}

#tips {
	background-color: #FF6A00;
	padding: 3px;
}

#what {
	background-color: #FF6A00;
	padding: 3px;	
}

#business {
	color: black;
	font-weight: bold;
}

#upcoming {
	background-color: #FF6A00;
	padding: 3px;
}
/*End of header things*/

/*Content things*/
#requirep {
	background-color: #00B7B7;
	padding-left: 0px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-top: 5px;
}

#tipsp {
	background-color: #00B7B7;
	padding: 5px;
}

#aboutp {
	background-color: #00B7B7;
	padding: 5px;
}

#whatp {
	background-color: #00B7B7;
	padding: 5px;
}

#upc {
	background-color: #00B7B7;
	padding: 5px;
}

#btmrow {
	padding-bottom: 20px;
}

#infocontain {
	padding-top: 10px;
	padding-bottom: 10px;
}

#ul1 {
	list-style-type: none;
	background-color: #00B7B7;
}

#ul2 {
	list-style-type: square;
	background-color: #00B7B7;
}

#ul3 {
	list-style: decimal;
	background-color: #00B7B7;
}

#ul4 {
	list-style-type: square;
	background-color: #00B7B7;
	padding-top: 0px;	
}
/*End of content things*/

/*Footer things*/
#copyright {
	color: black;
	font-weight: bold;
}

#footer {
	background-color: white;
	width: 100%;
	z-index: 1;
	bottom: 0; 
	left: 0;
	right: 0;
	position: fixed;
	border: solid white;
	border-radius: 5px;
}

#twitter {
	text-align: right;
}

#twitch {
	text-align: right;
}
/*End of footer things*/