body {
	background-color: #898989;
}

.alt1 {
	background: #898989;
	min-height: 400px;
}

p {
	color: black;
}

ul {
	color: black;
}

#copyright {
	color: black;
	font-weight: bold;
}

#about {
	background-color: #FF6A00;
	padding: 3px;
}

#aboutp {
	background-color: #00B7B7;
	padding: 5px;
}

#what {
	background-color: #FF6A00;
	padding: 3px;	
}

#whatp {
	background-color: #00B7B7;
	padding: 5px;
}

#contact {
	background-color: #FF6A00;
	padding: 3px;
}

#what2 {
	background-color: #FF6A00;
	padding: 3px;
}

#do {
	background-color: #00B7B7;
	padding: 5px;
}

#what3 {
	background-color: #FF6A00;
	padding: 3px;
}

#question {
	background-color: #FF6A00;
	padding: 3px;
}

#business {
	color: black;
	font-weight: bold;
}

#footer {
	padding-top: 10px;
	padding-bottom: 10px;
}

#infocontain {
	padding-top: 10px;
	padding-bottom: 10px;
}

#ul1 {
	list-style-type: none;
	background-color: #00B7B7;
}

#ul2 {
	list-style-type: square;
	background-color: #00B7B7;
}

#ul3 {
	list-style: decimal;
	background-color: #00B7B7;
}