/*Body thing*/



/*End body thing*/

/*Header things*/
#name {
	color: white;
	padding-top: 12px;
}


/*End header things*/

/*Content things*/
#player {
	padding-right: 15px;
}

#panels {
	padding-bottom: 10px;
}

/*End content things*/

/*Links (If any)*/



/*End Links*/

/*Footer things*/

#foot {
	padding-top: 15px;
}

#footer {
	color: black;
	font-weight: bold;
}

/*End footer things*/