<!DOCTYPE html>
<html>
<head>
	<title>Art Template-Gallery</title>
</head>

<!-- CSS links -->
<link rel="stylesheet" type="text/css" href="stylesheet2.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<!-- End CSS links -->

<!-- Scripts for Bootstrap -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<!-- End scripts for Bootstrap -->

<body>

<nav class="navbar navbar-inverse">
    <div id="navcontain" class="container">
        <!-- Logo -->
        <div id="navbarhead" class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="template2.html" class="navbar-brand">Test</a>
        </div>

        <!-- Menu Items -->
        <div class="collapse navbar-collapse" id="mainNavBar">
            <ul class="nav navbar-nav">
                <li><a href="template2.html">Home</a></li>
                <li class="active"><a href="template2A.html">Gallery</a></li>
                <li><a href="template2B.html">Resume</a></li>
                <li><a href="template2C.html">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div id="pagehead" class="page-head">
        <strong>My Art</strong>
    </div>
</div>

<div class="container">
	<div id="R1" class="row">
		<div class="col-md-6">
			<img id="img1" src="images/pugstep.png">
		</div>

		<div class="col-md-6">
            <img id="img2" src="images/pugstep.png">
		</div>
</div>
        <div class="row">

            <div class="col-md-6">
                <img id="img3" src="images/pugstep.png">
            </div>

            <div class="col-md-6">
                <img id="img4" src="images/pugstep.png">
            </div>
        </div>
</div>

<footer>
    <div id="panel" class="panel panel-default">
        <div class="panel-body">
            Copyright &copy; Joe Webs, 2015
        </div>
    </div>
</footer>

</body>
</html>